info:
  component: AlMobadara PMGMT Backend

server:
  port: 8001

springdoc:
  packagesToScan: ma.almobadara.pmgmt
  api-docs:
    path: /api-docs

management:
  endpoints:
    web:
      exposure:
        include: "*"

spring :
  datasource:
    url: jdbc:postgresql://localhost:5432/db?currentSchema=public
    platform: POSTGRESQL
    username: postgres
    password: changeme
    driver-class-name: org.postgresql.Driver
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update

